@font-face {
    font-family: soul;
    src: url(SaolDisplay-Light\ \(1\).ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.355);
}

h1,h2,h3,h4{
    font-family: soul;
}
#main{
    display: flex;
    height: 100vh;
    overflow-y: hidden;
}
.text {
    width: 50%;
    height: 100vh;
    padding: 15px 15px 15px 100px;
    display: flex;
    align-items: center;
}
.text h1{
    font-size: 70px;
    line-height: 84px;
    color: #ffe63e;
    text-transform: uppercase;
}
.text p{
    font-size: 20px;
    color: #fbf7db;
    text-transform: uppercase;
    margin-top: 15px;
    letter-spacing: 4px;
}
.text #btn{
    position: relative;
    display: inline-block;
    width: 250px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border: 1px solid black;
    color: #ffe63e;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 30px;
    overflow: hidden; 
    transition: all ease 0.5s;
}
 
.text #btn:before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color:#ffe63e;
    z-index: -1;
    transition: all ease 0.5s;

}
.text #btn:hover{
    font-weight: 700;
    color:#38444b;
}
.text #btn:hover::before{
    left: 0;
}
#social{
    bottom: 100px;
    margin-top:200px;
    position: absolute;
    bottom: 50px;
}
#social a{
    
    position: relative;
    display: inline-block;
    width:50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fbf7db;
    margin-right: 10px;
    border: 1px solid #53636d;
    border-radius: 50%;
    transition: all ease 0.5s;
}
#social a>i{
    
}

#social a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffe63e;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0);
    transition: all ease 0.5s;
}

#social a:before{
    color: #38444b;
}
#social a:hover:before{
    transform: scale(1);
} 
.img{
    width: 50%;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
}
.img img{
    width: 100%;
    margin: 15px;
}
.img .img-stripe{
    width:calc(50%-15px);
}
.img .stripe1{
    animation: stripe-one 60s ease 0s infinite;
}

@keyframes stripe-one {
    50%{
        transform: translateY(-200%);
    }
}

.img .stripe2{
    transform: translateY(-200%);
    animation: stripe-two 60s ease 0s infinite;
}

@keyframes stripe-two {
    50%{
        transform: translateY(0%);
    }
}


#toggle-btn{
    display:inline-block;
    width: 100px;
    height: 90px;
    padding: 22px 25px;
    background: #ffe63e;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom-right-radius: 100px;
    cursor: pointer;
}
#toggle-btn >i{
    position: absolute;

}
#toggle-btn #close{
    opacity: 0;
}
/*menu-style*/

 #menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 0 0 100% 0;
    background: #ffe63e;
    z-index: 9;
    transform: scale(0);
    transform-origin:top left;
} 
nav {
    padding: 100px;
    transition: all ease 0.5s;
}
nav ul{
    padding-left: 0;

    
}

nav ul li{
    list-style: none;
    margin-bottom: 30px;
}
nav ul li a{
    position: relative;
    font-family: soul;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    color: #38444b;
    margin-left: 20px;
    flex-direction: column;
    display: flex;
    margin-top: 20px;
}
nav ul li a:before{
    content: '';
    position: absolute;
    top: 50%;
    left: -20%;
    width: 0%;
    height: 3px;
    background-color: #38444b;
    transition: all ease 0.5s;

}
nav ul li a:hover:before{
    width: 25%;
    left: 0;
}


.card{
    display: none;
}


@media  (max-width:1024px) {

.card{
    display: block;
    color: yellow;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 50%;
    border:1px solid#ffe63e ;
}
.card h1{
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
#main{
    display: none;
}

#toggle-btn{
    display: none;
}

}
